<!DOCTYPE html>
<html>
<head>
  <title>FiveAgain</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <header>What Would You Do If You Were 5 Again?</header>
</head>
<body>

<%= yield %>

</body>

<footer>This has been an AWESOME Under 5'1" production.</footer>

</html>
